body{
    background-color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    font-size: 18px;
    width: 960px;
    text-align: center;
}

.wrapper{
    justify-content: space-between;
}



.webContent{
    background-color: #ebebeb;
}


header, nav, footer{
    background-color: #ebebeb;
    height: 40px;
    margin: 10px 0px;
    padding-top: 20px;

}

section{
    background-color: #ebebeb;
    width: 60%;
    height: 250px;
    padding-top: 30px;
    text-align: center
}
article{
    background-color: #777777;
    width: 95%;
    height: 65%;
    display: flex;
    margin: 30px 0px 0px 10px;
    flex-direction: column;
    overflow: auto;  
    color: #ebebeb;
    padding-top: 20px;
    text-align: center;
    
}

h1{
    background-color: #ebebeb;
    color: #777;
    width: 90%;
    height: 25%;
    margin: 10px 0px 0px 30px;
    line-height: 50px;
}

p{
    background-color: #ebebeb;
    color: #777;
    width: 90%;
    height: 25%;
    margin: 10px 0px 0px 30px;
    line-height: 50px;
}
aside{
    width: 40%;
    height: 250px;
    float: right;
    border-left-width: 10px;
    border-color: #777;
    border-left-style: solid;
    padding-top: 30px;
}
